* {
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none;
  font-family: "Kanit", sans-serif;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
.container {
  width: 100%;
  height: 100vh;
  background-color: #e9c287;
  overflow: hidden;
  position: relative;
}
.bg {
  width: 100%;
  height: 150%;
  background-color: #eee;
  border-radius: 50% 0 0 50%;
  transform: translate(20%, -50%) rotateZ(15deg);
}
.form-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  height: 80%;
  background-color: #252527;
  border-radius: 2rem;
  box-shadow: 0 3rem 8rem rgba(0, 0, 0, 0.6);
  overflow: hidden;
}
.form-wrapper img {
  width: 140rem;
  position: absolute;
  left: -50%;
  top: -20%;
  opacity: 0.5;
}
.form-heading {
  position: absolute;
  top: 19%;
  left: 35%;
  font-family: "Tilt Prism", cursive;
  font-size: 5rem;
  color: #fff;
  font-weight: 300;
  width: 35rem;
  text-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5);
}
.contact-form {
  width: 35%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 7rem 10rem 7rem 7rem;
}
.toggle-links {
  text-align: right;
}
.toggle-link,
.toggle-links span {
  font-size: 1.6rem;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: #e9c287;
  cursor: pointer;
}
.toggle-links span {
  margin: 0 0.5rem;
}
.change .signin {
  color: #b89663;
}
.signup {
  color: #b89663;
}
.change .signup{
    color: #e9c287;
}
.inputs {
  margin-top: -2rem;
  display: flex;
  flex-direction: column;
}
.input-field {
  width: 100%;
  height: 5rem;
  margin: 1rem 0;
  padding: 1rem;
  background-color: #343539;
  border: 0.1rem solid rgba(255, 255, 255, 0.1);
  font-size: 1.6rem;
  border-radius: 0.5rem;
  color: #eee;
}
.change .hide{
    display: none;
}
.checkbox {
  display: flex;
  align-items: center;
  margin-top: 2rem;
}
.change .display{
    transform: translateY(-6rem);
}
.checkbox input {
  appearance: none;
  width: 2rem;
  height: 2rem;
  background-color: #3a3a3c;
  margin-right: 1rem;
  border-radius: 0.2rem;
  transition: all 0.3s;
  position: relative;
}
.checkbox input,
.checkbox label {
  cursor: pointer;
}
.checkbox input:checked {
  background-color: #b58235;
}
.checkbox input::after {
  content: "";
  position: absolute;
  top: -15%;
  left: 20%;
  width: 50%;
  height: 75%;
  border-right: 0.2rem solid #fff;
  border-bottom: 0.2rem solid #fff;
  transform: rotateZ(45deg);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
}
.checkbox input:checked::after {
  opacity: 1;
  visibility: visible;
}
.checkbox label {
  font-size: 1.2rem;
  color: #ddd;
}
.checkbox label span {
  color: #b58235;
}
.submit {
  width: 100%;
  height: 5rem;
  background-color: #d48142;
  border: none;
  font-size: 1.6rem;
  font-weight: 300;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
  border-radius: 0.3rem;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.1);
  margin-top: -4rem;
}
.submit:active {
  transform: translateY(0.2rem);
}
.change .submit:active {
  transform: translateY(-13.8rem);
}
.change .submit{
    transform: translateY(-14rem);
}
.social-media {
  width: 100%;
  padding: 3rem 40% 0 0;
  display: flex;
  justify-content: space-between;
  border-top: 0.1rem solid rgba(255, 255, 255, 0.2);
}
.social-media i {
  width: 3rem;
  height: 3rem;
  background-color: #939695;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  color: #3a3a3c;
  cursor: pointer;
}
